{% extends "layout.html" %}

{% block title %}
	{{ topic }}
{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="w3-content" style="max-width:1400px">
<header class="w3-container w3-center w3-padding-32">
	<br><br><br><br>
  <h1><strong>{{ topic }} News</strong></h1>
</header>
{% for item in output %}
	<div class="w3-row">
	<div class="w3-col l12 s12">
	  <div class="w3-card-4 w3-margin w3-white">
		<div class="w3-container">
		  <h5>{{ item['title'] }}</h5>
		</div>

		<div class="w3-container">
		  <p>{{ item['description'] }}</p>
		</div>
		 <h4>SENTIMENT:</h4>
		 {% if item['sentiment'] > 0 %}
		 <p>POSITIVE</p>
		 {% endif %}
		 {% if item['sentiment'] < 0 %}
		 <p>NEGATIVE</p>
		 {% endif %}
		  <div class="w3-row">
        <div class="w3-col m8 s12">
		<p><a href="{{ item['url'] }}>Read More...</a></p>
        </div>
	</br></hr></hr></br>
		  </div>
		</div>
	</div>
		</div>
{% endfor %}
{% endblock %}
